<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
  <div class="navbar-header">
    <div class="line-up">
      <%=image_tag("logo1") %>
    </div>
  </div>
  </div>
</div>
<div class="jumbotron">
  <div class="container">
    <p class="jumbo-shout">
      <h1 style="color: white;">How Do You Measure Up?</h1>
    </p>
  </div>
</div>
<div class="famous-figures" id="famous-figures-container">
<div class="col-md-3">
  <%=image_tag("LDV", size:"125", class: "img-responsive img-thumbnail img-circle")%>
  positive  0.971588
  The noblest pleasure is the joy of understanding. -Leonardo Da Vinci
</div>
<div class="col-md-3">
<%=image_tag("MLK", size:"125", class: "img-responsive img-thumbnail img-circle")%>
  positive  0.783355
  The time is always right to do what is right. -Martin Luther King, Jr.
</div>
<div class="col-md-3">
  <%=image_tag("MA", size:"125", class: "img-responsive img-thumbnail img-circle")%>
  positive  0.737717
  It's one of the greatest gifts you can give yourself, to forgive. Forgive everybody.  -Maya Angelou
</div>
<div class="col-md-3">
<%=image_tag("MG", size:"125", class: "img-responsive img-thumbnail img-circle")%>
  positive  0.89525
  Happiness is when what you think, what you say, and what you do are in harmony.  -Mahatma Gandhi
</div>
</div>
<div class="quote-form" id="user-quote">
<form action="/do-it" method="POST">
  <textarea type="text" name="quote" placeholder="Type your quote here!" rows="4" cols="40"></textarea>
  <br>
  <input type="submit" name="Go" value="Go">
</form>
</div>