<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <div class="line-up">
        <%=image_tag("logo1") %>
      </div>
    </div>
  </div>
</div>
<div class="jumbotron">
  <div class="container">
    <p class="jumbo-shout">
      <h1 style="color: white;">How Do You Measure Up?</h1>
    </p>
  </div>
</div>
<div class="col-md-3">
  <div class="person-container">
    <div class="port-graph-row">
      <div class="portrait">
        <%=image_tag("LDV", size:"125", class: "img-responsive img-thumbnail img-circle")%><br><strong>Leonardo DaVinci</strong>
      </div>
      <div class="graph">
      <%=image_tag("97_Orng", size:"125", class: "img-responsive img-thumbnail img-circle")%>
      </div>
    </div>
    <div class="quote-row">
      <div class="quote">
        "The noblest pleasure is the joy of understanding."
      </div>
    </div>
  </div>
</div>
</div>
<div class="col-md-3">
  <div class="person-container">
    <div class="port-graph-row">
      <div class="portrait">
        <%=image_tag("MLK", size:"125", class: "img-responsive img-thumbnail img-circle")%><br><strong>Martin Luther King, Jr.</strong>
      </div>
      <div class="graph">
        <%=image_tag("78_Orng", size:"125", class: "img-responsive img-thumbnail img-circle")%>
      </div>
    </div>
    <div class="quote-row">
      <div class="quote">
        "The time is always right to do what is right."
      </div>
    </div>
  </div>
</div>
<div class="col-md-3">
  <div class="person-container">
    <div class="port-graph-row">
      <div class="portrait">
        <%=image_tag("MA", size:"125", class: "img-responsive img-thumbnail img-circle")%><br><strong>Maya Angelou</strong>
      </div>
      <div class="graph">
        <%=image_tag("74_Orng", size:"125", class: "img-responsive img-thumbnail img-circle")%>
      </div>
    </div>
    <div class="quote-row">
      <div class="quote">
        "It's one of the greatest gifts you can give yourself, to forgive. Forgive everybody."
      </div>
    </div>
  </div>
</div>
<div class="col-md-3">
  <div class="person-container">
    <div class="port-graph-row">
      <div class="portrait">
        <%=image_tag("MG", size:"125", class: "img-responsive img-thumbnail img-circle")%><br><strong>Mahatma Gandhi</strong>
      </div>
      <div class="graph">
        <%=image_tag("90_Orng", size:"125", class: "img-responsive img-thumbnail img-circle")%>
      </div>
    </div>
    <div class="quote-row">
      <div class="quote">
        "Happiness is when what you think, what you say, and what you do are in harmony."
      </div>
    </div>
  </div>
</div>
<div class="quote-form col-md-12" id="user-quote">
  <form action="/do-it" method="POST">
    <textarea type="text" name="quote" placeholder="Type something positive here!" rows="4" cols="40"></textarea>
    <br>
    <input type="submit" name="Go" value="How Inspiring Am I?">
  </form>
</div>